.b {font-family:'Courier New';font-size:45px;color:#063961}
.s {font-family:'Courier New';font-size:28px;color:#063961}
a {color:#063961}
hr {style="height:1px;border-width:0;color:#063961;background-color:#063961";width:100%}